---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-bold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span class="text-text-heading">Maciej Korolik</span>
    </h1>
    <p class="text-2xl pb-4">Frontend Developer</p>
  </div>
  <div>
    <p class="mb-5">
      👋 I'm a web developer with a passion for React.js, Next.js and
      TypeScript.
      <br />
      I'm from Wrocław, Poland and currently working in <a
        href="https://monterail.com"
        target="_blank">Monterail</a
      >.
    </p>
    <p class="mb-5">
      Feel free to contact me on <a href="https://linkedin.com/in/m-korolik"
        >LinkedIn</a
      >!
    </p>
  </div>
</section>
